body {
    background-image:url("../images/musicBackground.jpg");
    background-size: 100% auto;
    color: white;
}

div {  
    text-align: left;

}
#game{
    padding-top: 120px;
    padding-left: 40px;
    float: left;
}
#winsDiv{
    position: relative;
    float: right;
    text-align: right;
}
div h2{
    font-size: 250%;
}
div h3{
    font-size: 250%;
}
#artist-id{
    float: left;
    padding-top: 40px;
    padding-left: 60px;
}
#user-text{
    letter-spacing: 8px;
    padding-left: 20px;
}
#guessed-letters{
    padding-top: 30px;
    clear: both;
    float: left;
}
#artist-background{
    background: rgba(25, 25, 25, .8);

}
